<img alt="" class="bg md me c" width="567" height="289" loading="lazy" role="presentation" src="https://miro.medium.com/v2/resize:fit:567/1*WMiNIQ9THariDSJw47uU1w.png">

Everything in python is an object 

Each object has its own data attribute and methods with it

List,Tuple,Set are three important type of object

**`IMPORTANT NOTE TO REVISE ABOUT LIST `**

List is a built-in data struture in pyhton 

It is represent as a collection od data points in  a` square brackets `

List can be used to store any data type or a mixture of `different data type`

List are `mutable` which is one of the reason why they are commonly used

In [3]:
my_list=[1,2,3,4,5]
# we can access with the content what are in inside in the list by index
my_list[1]

2

Index start from 0 to N-1

Append method is just append at the end of the list

In [18]:
my_newlisrr=[12,33]
my_newlisrr.append(3)
my_newlisrr

[12, 33, 3]

Below code is not correct but its work why means if you see the output means we can see this 

[9, 8, 7, 6, [1, 2, 3, 4]]

In [19]:
my_new=[1,2,3,4]
my_lists=[9,8,7,6]
my_list.append(my_new)
my_lists

[9, 8, 7, 6]

`No, the code you provided has an error. The correct syntax for appending the my_new list to the my_list list is by using the extend() method, not append(). Here's the correct code:`


my_list = [9, 8, 7, 6]


my_new = [1, 2, 3, 4]


my_list.extend(my_new)


print(my_list)  # Output: [9, 8, 7, 6, 1, 2, 3, 4]



`The extend() method is used to add all elements from an iterable to the end of the list. By using extend(), the elements of my_new are added individually to my_list, resulting in a single list with all the elements combined.`

Clear method is just remove all the element from the list

In [11]:
my_lists

[9, 8, 7, 6, [1, 2, 3, 4]]

In [14]:
# this is the list it contains some value inside it 
my_lists.clear()
my_lists

[]

Copy is method it take a entier copy of that list and store it on another variable

It can normal we can do with a=b

But if we do like that what  will happen is if you change anythihg in b itb will affect  the a also so for that purpose we can use this copy()

In [16]:
my_copylist=[1,2,3,4,5]
my_copied_list=my_copylist.copy()
my_copied_list

[1, 2, 3, 4, 5]

Count it count the particular argu you pass inside the ()

.count()

In [17]:
my_list=[1,2,2,2,2]
# count the presence of 2 in my_list
my_list.count(2)

4

Extend add the element of a list (or a iterable),to the end of the current list 

.extend()

In [20]:
my_extend=[1,2,3,4]
my_extra=[5,6,7,8]
my_extra.extend(my_extend)
my_extra

[5, 6, 7, 8, 1, 2, 3, 4]

index()  

Returns the index of the first element with the specified value

In [21]:
my_list=[1,2,2,2,3]
my_list.index(2)

1

insert()

insert add the element at the specific index you want 

it need two argu to pass one is index and another is what you need to insert

In [22]:
my_lisr=[1,2,3,5,6]
# in the above list 4 is missing for that we can use the .insert()

my_lisr.insert(3,4)
my_lisr

[1, 2, 3, 4, 5, 6]

pop()

it just pop  the  element at the particular index you put there as a argu

In [23]:
my_lisr.pop(0)

1

.remove() 

removes the `first item` with a specific value

In [26]:
my_lisr=[1,2,3,3,4,5]
my_lisr.remove(3)
my_lisr

[1, 2, 3, 4, 5]

reverse()

reverse the order of the list

In [29]:
mt_list=[1,2,3,4,5]
mt_list.reverse()
mt_list

[5, 4, 3, 2, 1]

sort()

In [34]:

mt_list.sort()
mt_list

[1, 2, 3, 4, 5]

                                    TUPLE

Tuple :

    Tuple is a collection of value separted  by comma and enclosed in parenthesis

**`IMPORTANT NOTE TO REVISE ABOUT TUPLE `**

Tuple  is `immutable`  

Its is special feature of tuple 

its `ordered , indexing/slicing , duplicate`

In [40]:
my_typle=(1,2,3,4,4)
my_typle

(1, 2, 3, 4, 4)

count()

its just count the specific number as a args

In [37]:
my_typle.count(4)

2

.index()


it just return the position of the args you pass

In [41]:
my_typle.index(4)

3

                                    SET

Set is an unordered collection of distinct immutable objects.

 A set contains unique elements. Although sets are mutable.
 
The elements of sets must be immutable. There is no order associated with The elements of a set. 


Thus, it does not support indexing or slicing like we do with lists.

**`IMPORTANT NOTE TO REVISE ABOUT SET `**


SET are `mutable` 

set are `unordered `

set are we cant do `indexing or slicing` 

set are `not allowed duplicate `

add(element): Adds an a single element to the set.

In [42]:
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)  # Output: {1, 2, 3, 4}

{1, 2, 3, 4}

.remove()

.remove(element): Removes an element from the set. Raises a KeyError if the element is not found.

In [43]:
my_set = {1, 2, 3}
my_set.remove(2)
print(my_set)  # Output: {1, 3}

{1, 3}

discard(element): Removes an element from the set if it is present. Does not raise an error if the element is not found.

In [45]:
my_set = {1, 2, 3}
my_set.discard(4)  # if you notices the 4 is not present in the set
print(my_set)  # Output: {1, 3}

{1, 2, 3}

.pop(): Removes and returns an arbitrary element from the set.

In [46]:
my_set = {1, 2, 3}
removed_element = my_set.pop()
print(removed_element)  # Output: 1
print(my_set)  # Output: {2, 3}

1
{2, 3}

clear(): Removes all elements from the set.

In [47]:
my_set = {1, 2, 3}
my_set.clear()
print(my_set)  # Output: set()

set()

.copy(): Returns a shallow copy of the set.

In [49]:
my_set = {1, 2, 3}
mycopied_set=my_set.copy()
print(my_set)  # Output: set()

{1, 2, 3}

.union(set2): Returns a new set that is the union of the current set and set2.

In [50]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

.intersection(set2): Returns a new set that is the intersection of the current set and set2.

In [51]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection_set = set1.intersection(set2)
print(intersection_set)  # Output: {3}

{3}

.difference(set2): Returns a new set that contains the elements in the current set but not in set2.

In [52]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
difference_set = set1.difference(set2)
print(difference_set)  # Output: {1, 2}

{1, 2}

.symmetric_difference(set2): Returns a new set that contains the elements that are in either the current set or set2, but not both

In [53]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
symmetric_difference_set = set1.symmetric_difference(set2)
print(symmetric_difference_set)  # Output: {1, 2, 4, 5}

{1, 2, 4, 5}

issubset(set2): Checks if the current set is a subset of set2.

In [54]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}
is_subset = set1.issubset(set2)
print(is_subset)  # Output: True

True

.issuperset(set2): Checks if the current set is a superset of set2.

In [55]:
set1 = {1, 2, 3}
set2 = {1, 2}
is_superset = set1.issuperset(set2)
print(is_superset)  # Output: True

True

.isdisjoint(set2): Checks if the current set and set2 have no common elements.

In [56]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
is_disjoint = set1.isdisjoint(set2)
print(is_disjoint)  # Output: True

True

                            list vs set

In [57]:
text = "Hello World!"
print(list(text))

print(set(text))

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!']
{'H', 'd', 'o', 'W', 'r', '!', 'l', 'e', ' '}

if you notice above means we can see that list print all the things

set prints only unqiue and in random number wise is printing

In [60]:
list_a=list(text)
list_a[:3:]

['H', 'e', 'l']

In [62]:
set_a=set(text)
set_a[:3:]

TypeError: 'set' object is not subscriptable

in the above example we can see that list we can do slicing why we can access the list in index

but we cant access the set through indexes for that its showing error type-error